<div class="animate-pulse flex space-x-4">
  <div class="rounded-full bg-slate-200 h-12 w-12"></div>
  <div class="rounded-full bg-slate-200 h-12 w-12"></div>
  <div class="rounded-full bg-slate-200 h-12 w-12"></div>
</div>