<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadLink</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>ReadLink</h1>
        
    </header>
    
    <main>
        <div class="hero">
            <h2>ReadLink</h2>
            <%= image_tag 'ポートフォリオ用.png', alt: 'ポートフォリオ用', class: 'portfolio-image' %>
            <button class="map-button">図書館マップ</button>
        </div>
        
        <footer>
            <nav>
            <ul>
                <li><a href="#">お問い合わせ</a></li>
                <li><a href="#">利用規約</a></li>
                <li><a href="#">プライバシーポリシー</a></li>
            </ul>
        </nav>
        </footer>
    </main>
</body>
</html>