<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadLink</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    
    <main>
        <div class="hero">
            <h2>ReadLink</h2>
            <button class="map-button">図書館マップ</button>
        </div>
        
    </main>
</body>
</html>