@import "custom"

header {
    background-color: #FF8C00; /* オレンジ色 */
    padding: 20px;
    text-align: center;
}



footer {
    text-align: center;
    background-color: #FF8C00;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}


