<p>こんにちは、<%= @resource.email %>さん。</p>

<p>パスワードリセットのリクエストがありました。以下のリンクをクリックして新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワードリセットリンク', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしリクエストを行っていない場合、このメールを無視してください。</p>
